.navbar {
  display: flex;
  justify-content: space-between;
  background: transparent;
  padding: 10px 10px;
  color: #41403e;
  font-size: 2rem;
  text-decoration: underline;
  letter-spacing: 1px;
  outline: none;
  box-shadow: 20px 38px 34px -26px hsla(0, 0%, 0%, 0.2);
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  border: solid 2px #41403e;
}
